* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ae9cff;
}


.container {
    background-color: rgb(255, 255, 255);
    width: 140vmin;
    height: 70vmin;
    margin: 15vmin auto;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(33, 32, 32, 0.2);
}

.container .text_container {
    margin: 0vmin 5vmin 0vmin 30vmin;
    padding-top: 6vmin;
    /* background-color: transparent; */


}

.container .text_container .search-bar {
    margin-right: 5vmin;
    width: 70vmin;
    height: 5vmin;
    box-shadow: 0 4px 8 px rgba(33, 32, 32, 0.2);
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    transition: transform 0.8s ease;

}

.container .text_container .search-bar:focus {
    transform: scale(1.05);
}


.container .text_container .search-button {
    width: 10vmin;
    height: 5vmin;
    background-color: #ae9cff;
    border-radius: 5px;
    box-shadow: 0 20px 40px rgba(33, 32, 32, 0.2);
    color: azure;
    border: none;
    outline: none;
    cursor: pointer;
}

.container .text_container .search-button:hover {
    transform: scale(1.05);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.container .text_container .search-bar::placeholder {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 15px;

}

.container .definition .heading {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15vmin;
    margin-top: 2vmin;
}

.container .definition .audio-button {
    width: 3vmin;
    height: 3vmin;
    margin-left: 15vmin;
    color: #ae9cff;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    cursor: pointer;

}

.container .definition .audio-button:hover {
    transform: scale(1.02);
    transition: transform 0.5s ease;
}

.container .definition .result {
    margin: auto;
    padding: 2vmin 15vmin;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;

}


.container .definition .syllables,
.container .definition .partOfSpeech {
    padding: 0vmin 15vmin;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px bolder;
    color: #9f8affda;

}

.container .definition .example {
    margin: 10px 15vmin;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-left: 5px solid #9f8affda;
    font-size: 13px bolder;
    padding-left: 20px;
}

.Error {
    margin: auto;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px bolder;
    padding: 20px;
    border: none;
    outline: none;
}